* {
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #cdc2ae;
}
.vertical {
  /* border: 1px solid red; */
  width: 20vw;
  height: 100vh;
  background-color: #ece5c7;
  position: absolute;
  /* top: 0; */
  transition: left 1500ms;
  left: -15vw;
}

.vertical .title {
  /* position: relative; */
  background-color: #354259;
  padding: 1rem;
}
.vertical .title i {
  position: absolute;
  right: 1.3rem;
  font-size: 1.4rem;
  transition: 1400ms;
}

ul {
  list-style: none;
  margin-top: 5rem;
}
li {
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #354259;
}

/*? Hover */

.vertical:hover {
  left: 0;
}
.vertical:hover i {
  transform: rotate(540deg);
}
